@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

p {
  margin: 0;
}

:root {
  --color-dark: #000000;
  --color-white: #ffffff; 
  
  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Montserrat', sans-serif;
  
  --container-width: 1440px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  box-sizing: border-box;
}

.header {
  background-color: var(--color-dark);
}

.header-block { 
  display: flex;
  justify-content: space-between;
}

.header-menu-list { 
  display: flex;
}

.header-item-link{ 
  display: block;
  padding: 32px 24px;
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
}

.header-item-link:hover{ 
  background-color: #ED36F3;
}

.container { 
  max-width: var(--container-width);
  min-width: var(--container-width);
  padding: 0px 72px;
  margin: 0 auto;
}

.join-us { 
  position: relative;
  overflow: hidden;
}

.join-us-block {
  display: flex;
  justify-content: space-between;
}

.join-us-image-left { 
  width: 498px;
  height: 498px;
  position: absolute;
  top: 0;
  left: 0;
}

.join-us-left{ 
  width: 50%;
}

.join-us-right { 
max-width: 420px;
margin: 40px 110px 40px 0;
width: 50%;
text-align: center;
justify-content: center;
}

.join-us-image-right { 
  display: flex;
  align-self: center;
}

.join-us-subtitle {
  font-size: 39px;
  text-transform: uppercase ;
}

.social { 
  background-color: var(--color-dark);
  padding-top: 40px;
  padding-bottom: 45px;
}

.social-title { 
  margin-bottom: 45px;
  color: var(--color-white);
  font-size: 55px;
  font-family: var(--font-family-base);
  text-transform: uppercase;
  font-weight: 800;
  
}

.social-list { 
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.social-item { 
  display: flex;
}

.social-link { 
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 30px;
  color: var(--color-white);
  font-size: 30px;
  font-family: var(--font-family-base);
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;

  transition: var(--transition-duration);
}

.social-link:hover { 
  color: violet;
}

.social-link:active { 
  color: #f80aec;
}

.social-link-number { 
  color: var(--color-white);
  font-size: 83px;
  padding-right: 50px;
}